*{
    margin: 0;
}
body{
    background-color: #F5F8FF;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
nav{
    background-image: url(Assets/Hero-bg.png);
    margin: 0 auto;
}
.nav-logo{
    color: #4E47FF;
    font-weight: 900;
    font-size: 40px;
}
.btn-1{
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(#4E47FF, #00FFFF);
    transition: background 0.4s ease;
    font-size: 16px;
    gap: 16px;
    width: 132px;
    height: 48px;
    border-radius: 5px;
}
.btn-1:hover{
    background: linear-gradient(90deg, #0515eb 0%, #f7b536 100%);
}
.logo{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    padding: 50px;
}
.ui-tamplate{
    margin-left: 150px;
}

.section-title{
    color: #252432;
    font-size: 64px;
    font-weight: bold;
    width: 905px;
    text-align: center;
    height: 100px;
    margin: 261px 267px 60px 267px;
    align-items: center;

}
.btn-2{
    color: white;
    font-weight: bold;
    align-items: center;
    margin: 15px 633px 100px 633px;
    border: none;
    background-image: linear-gradient(#4E47FF, #00FFFF);
    transition: background 0.4s ease;
    font-size: 16px;
    cursor: pointer;
    gap: 16px;
    width: 132px;
    height: 48px;
    border-radius: 5px;
}
.btn-2:hover{
    background: linear-gradient(90deg, #0515eb 0%, #f7b536 100%);
}
.info-section {
    display: flex;
    justify-content: space-between;
    width: 1260px;
    margin: 60px 145px 90px 200px;
    border-radius: 12px;
}
.info-text {
    flex: 1;
    text-align: left;
    margin-top: 80px;
    margin-left: 20px;
}
.info-text h3 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: #0D1321;
}
.info-text p {
    font-size: 1rem;
    color: #373A50;
    margin-bottom: 25px;
    line-height: 1.5;
}
.info-image {
    flex: 1;
    text-align:right;
}
.info-image img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}
.btn-launch-live{
    color: white;
    font-weight: bold;
    align-items: center;
    border: none;
    background-color: #4E47FF;
    font-size: 16px;
    cursor: pointer;
    gap: 16px;
    width: 229px;
    height: 48px;
    border-radius: 5px;
    background-image: linear-gradient(#4E47FF, #00FFFF);
    transition: background 0.4s ease;
}
.btn-launch-live:hover{
    background: linear-gradient(90deg, #0515eb 0%, #f7b536 100%);
}
.user{
    text-align: center;
}
.users{
    background-color: #E6EDF9;
    margin: 90px 145px;
    padding: 50px 145px;
    border-radius: 10px;
}
.users h3{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 30px;
}
.user-grid{
    display: flex;
    justify-content: space-around;
    gap: 158px;
    flex-wrap: wrap;
}
.number{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    line-height: 1.2;
}
.item-description{
    font-size: 20px;
    font-weight: 500;
    color: #000;
}
.reviews{
    text-align: center;
    margin-bottom: 130px;
}
.reviews h2 {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 50px;
}
.review-grid{
    display: flex;
    justify-content: center;
    gap: 30px;

}
.review-card{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    border: #4E47FF;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.reviewer-details{
    display: flex;
    flex-direction: column;
}
.stars{
    color: yellow;
    font-size: 18px;
    margin-bottom: 15px;
    letter-spacing: 3px;
}
.wc-big-container{
    background-color: white;
    width: 1140px;
    height: 697px;
    padding: 71px 150px;
    margin: 5px 150px;
    text-align: center;
    margin-left: 160px;
    
}
.wc-big-container img{
    width: 840px;
    height: 365px;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    border-radius: 48px;
    margin-bottom: 71px;
}
.wc-big-container h1 {
    margin: 71px 312px 20px 312px;
    font-size: 50px;
    font-weight: bold;
}
.wc-big-container p {
    margin: 20px 326.5px;
    color: rgba(0, 0, 0, 0.5);
}
.btn-4{
    color: white;
    font-weight: bold;
    align-items: center;
    border: none;
    font-size: 16px;
    cursor: pointer;
    gap: 16px;
    width: 229px;
    height: 48px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-image: linear-gradient(#4E47FF, #00FFFF);
    transition: background 0.4s ease;
}
.btn-4:hover{
    background: linear-gradient(90deg, #0515eb 0%, #f7b536 100%);
}
.contact{
    display: flex;
    padding: 71px;
    gap: 200px;
    margin-left: 150px;
}
.your-form input[type="text"], [type="email"], textarea {
    height: 60px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 490px;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    gap: 20px;
}

.communicate{
    font-size: 97px;
    font-weight: bold;
    margin-top: 60px;
}
.btn-5{
    color: white;
    font-weight: bold;
    align-items: center;
    border: none;
    font-size: 16px;
    cursor: pointer;
    gap: 16px;
    width: 530px;
    height: 62px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-image: linear-gradient(#4E47FF, #00FFFF);
    transition: background 0.4s ease;
}
.btn-5:hover:hover{
    background: linear-gradient(90deg, #0515eb 0%, #f7b536 100%);
}
footer{
    text-align: center;
    background-color: white;
    height: 400px;

}
footer a {
    text-decoration: none;
    justify-content: space-between;
    color: black;
}
footer h1{
    font-size: 100px;
    font-weight:900;
    color: #4E47FF;

}
.footer-logo{
    padding: 100px;
}
#info{
    text-align: center;
    align-items: center;
}
.information{
    display: flex;
    gap: 48px;
    margin-left: 650px;
    margin-top: 20px;
    color: #DDDDDD;
}